<%= form_for(@battle) do |f| %>
  <% if @battle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@battle.errors.count, "error") %> prohibited this battle from being saved:</h2>

      <ul>
      <% @battle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :tag_one %><br>
    <%= f.text_field :tag_one %>
  </div>
  <div class="field">
    <%= f.label :tag_two %><br>
    <%= f.text_field :tag_two %>
  </div>
  <div class="field">
    <%= f.label :time_start %><br>
    <%= f.datetime_select :time_start %>
  </div>
  <div class="field">
    <%= f.label :time_end %><br>
    <%= f.datetime_select :time_end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
