

<html>
<body class="bp" data-spy="scroll" data-target=".bs-docs-sidebar">

<div class="navbar-fixed fixed" data-spy="affix" data-offset-top="80">
    <div class="head3">
        <div class="container">
            <div class="row">
                <div class="nav2 span12">
                    <div class="row">
                        <div class="logoholder span4">
                            <a href="/">
                                <span class="icons-logo "></span>
                            </a>
                        </div>
                        <div class="span8">
                            <ul class="nav2-menu row hidden-phone hidden-tablet">
                                <li>
                                    <div class="nav2-btn">
                                        <div class="outer">
								<span>
                                    <a class="inner" href="/battles/new" alt="Menu Item 2"> Create New Battle </a>
								</span>
                                        </div>
                                        <div class="arrow"><div class="arrowInner"></div></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="nav2-btn current">
                                        <div class="outer">
                                            <a class="inner" href="#" alt="Menu Item 3">Battles List</a>
                                        </div>
                                        <div class="arrow"><div class="arrowInner"></div></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear-both"></div>
            </div>
        </div>
        <div class="head4"></div>
        <div class="head5">
            <div class="container">
                <div class="breadcrumbs">
                    <div class="icon"></div>
                    <div class="clear-both"></div>
                </div>
            </div>
        </div>
    </div><!--end top nav -->
</div>

<div class="root">
    <div class="container">
        <div class="row">
            <div class="span2 sidebar bs-docs-sidebar">
                <div class="bs-docs-sidenav">
                    <ul class="nav nav-list">

                        <%
                           #create link for each of the Nav tiles
                           i = 1
                           @battles.each do |battle|
                           link_id = "#part" + i.to_s
                        %>
                            <li>
                                <a href="<%=link_id%>"><%=battle.name%></a>
                            </li>
                        <% i = i + 1 %>
                        <% end %>

                    </ul>

                    <div class="clearfix"></div>
                    <div class="to-top">
                        <a name="To the top of the page" href="#part1">To the Top</a>
                    </div>
                </div>
            </div>	<!-- end sidebar -->


            <div class="content span10" style="*float:right;">

                <%
                   #Iterate through battles, create two strings for the section id header and the vs link
                   #Then display the name of the battle, the hashtags, start & end date, and links for editing and deleting the battle.
                   i = 1
                   @battles.each do |battle|
                     tag_names = []
                     section_id = "part" + i.to_s
                   battle.hashtags.each do |hashtag|
                   tag_names.push(hashtag.content)
                     end
                %>
                    <section id="<%=section_id%>">
                        <h1><%= battle.name %></h1>

                        <h5><%= link_to tag_names.join(" vs. "), battle %></h5>

                        <p> Date Started: <%= battle.time_start %> </p>
                        <% if !battle.time_end.nil?%>
                        <p> Finish Date:  <%= battle.time_end %> </p>
                        <% end %>
                        <span>
                            <p style="float: left; margin-left: 340px" >
                                <%= link_to 'Edit this Battle', edit_battle_path(battle), :class => "btn btn-medium btn-warning" %>
                            </p>
                            <p style="float: right; margin-right: 310px; margin-top: 10px">
                               <%= link_to 'Destroy this Battle', battle, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-medium btn-warning" %>
                            </p>
                            <p style="clear:both"></p>
                        </span>
                        <hr />
                    </section>
                <% i = i + 1 %>
                <% end %>

            </div><!-- content div -->
        </div>
    </div><!-- end container div -->
</div><!-- end root div -->

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-1.7-development-only.js"></script>
<script type="text/javascript">
    Modernizr.load([{
        test: Modernizr.input.placeholder,
        nope : '/js/lib/polyfils/placeholder.js'
    }]);
</script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var offset = 120;

    $('.bs-docs-sidenav a').click(function(event) {
        event.preventDefault();
        $($(this).attr('href'))[0].scrollIntoView();
        scrollBy(0, -offset);
    });
</script>

<!-- affix script -->
<script type="text/javascript">
    setTimeout(function () {
        $('.bs-docs-sidenav').affix({
            offset: {
                top: 0
                , bottom: 540
            }
        })
    }, 100)
</script>
</body>
