<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @battle.name %>
</p>


<% @battle.hashtags.each do |hashtag| %>
    <p><%=hashtag.content%></p>
    <p>Current Score : <%=hashtag.count%></p>
<% end %>

<p>
  <strong>Time start:</strong>
  <%= @battle.time_start %>
</p>

<p>
  <strong>Time end:</strong>
  <%= @battle.time_end %>
</p>

<%= link_to 'Edit', edit_battle_path(@battle) %> |
<%= link_to 'Back', battles_path %>
