<div class="show master">

<p id="notice"><%= notice %></p>

<p style="font-size : 30px">
  <strong>Battle:</strong>
  <%= @battle.name %>
</p>

    <!--<a class="twitter-timeline" href="https://twitter.com/search?q=%23gswarriors" data-widget-id="464293188115521537">Tweets-->
        <!--about "#gswarriors"</a>-->
    <script>!function (d, s, id) {
//        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
//        if (!d.getElementById(id)) {
//            js = d.createElement(s);
//            js.id = id;
//            js.src = p + "://platform.twitter.com/widgets.js";
//            fjs.parentNode.insertBefore(js, fjs);
//        }
    }(document, "script", "twitter-wjs");</script>


    <div class="hashtags">

    <% @battle.hashtags.each do |hashtag| %>
        <p class="title"><%=hashtag.content%></p>
        <p class="scores">Current Score : <%=hashtag.count%></p>
    <% end %>
</div>

<div class="dates" >

    <p>
        <strong>Start Date:</strong>
        <%= @battle.time_start %>
    </p>

    <p>
        <strong>End Date:</strong>
        <%= @battle.time_end %>
    </p>

</div>
<div style="clear:both"> <br><br>   <%= link_to 'Edit this Battle', edit_battle_path(@battle) %> |
    <%= link_to 'Back to Battle List', battles_path %>
</div>

</div>
