<!DOCTYPE html>
<html>
<head>
  <title>HashtagBattle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" media="screen, projection" rel="stylesheet" type="text/css"/>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <%= render 'layouts/shim' %>

</head>
<body class="bp" data-spy="scroll" data-target=".bs-docs-sidebar">
    <%= render 'layouts/header' %>
<div class="container">
    <%= yield %>
</div>
 <%= render 'layouts/footer' %>
</body>
</html>
